<h1>Welcome to Susanto Delivery, <%= @user.name %></h1>
  <p>
    Updates has been made to your recent booking with Susanto.<br>
    Please click the link below to check the details.<br>
  </p>
  <p>https://floating-reaches-39993.herokuapp.com/customer_bookings/<%= @bookings.id %></a>
<p>Thanks for your bookings and have a great day!</p>