%h1 Inbound Messages

%table
  %thead
    %tr
      %th No.
      %th Phone
      %th Message
      %th Time

  %tbody
    - @bookings.each_with_index do |booking, index|
      %tr
        %td= index
        %td= booking['from']
        %td= booking['body']
        %td= booking['datetime']

%br

# = link_to 'New Booking', new_booking_path
