*
	font-family: arial
.container
	margin-top: 20px
	margin-bottom: 20px
a
	text-decoration: none
	&:hover, &:active, &:visited, &:focus
		text-decoration: none
.subject_panel
	list-style-type: none
	border-radius: 10px
	border: 2px dotted #E5E5E5
	padding: 15px
	margin-bottom: 12px
th, td
	border-bottom: 2px solid #E5E5E5
	padding: 10px
	font-size: 14px
.full-width
	background: #E5E5E5
	padding-top: 0px
	padding-bottom: 50px 

.page-btn
	padding: 12px 18px !important
	color: #0284ff !important
	font-weight: bold !important

.links
	color: #0284ff
	font-size: 18px
	transition: all 0.3s ease-in-out
	-webkit-transition: all 0.3s ease-in-out

	i
		font-style: normal
		margin-right: 12px
		&:after
			display: inline-block
			content: "\f054"
			font-family: fontawesome
			font-size: 18px
			position: relative
			-ms-transform: rotate(0deg)
			-webkit-transform: rotate(0deg)
			transform: rotate(0deg)
			transition: all 0.3s ease-in-out
	&:hover
		margin-left: 10px
		color: #0284ff

.info-canvas
	padding: 20px 40px

a[aria-expanded="true"]
	i
		font-style: normal
		margin-right: 12px
		&:after
			display: inline-block
			content: "\f054"
			font-family: fontawesome
			font-size: 20px
			color: #0284ff
			position: relative
			-ms-transform: rotate(90deg)
			-webkit-transform: rotate(90deg)
			transform: rotate(90deg)
.error-msg
	background-color: #FFE6E6
	color: darkgoldenrod
	border-radius: 10px
	padding: 15px