<!DOCTYPE html>
<html>
  <head>
    <title>CRM Tickets</title>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="https://static.wixstatic.com/media/cef76d_1971f932f6e946c6923d05856679900d.png/v1/fill/w_171,h_171,al_c,q_80,usm_0.66_1.00_0.01/cef76d_1971f932f6e946c6923d05856679900d.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
