<!DOCTYPE html>
<html>
  <head>
    <title>Zendesk Intern Chanllenge</title>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="https://www.amrutsoftware.com/wp-content/uploads/2017/09/zendesk_support_icon.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
