<!DOCTYPE html>
<html>
  <head>
    <title>Zendesk Intern Chanllenge</title>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="https://is3-ssl.mzstatic.com/image/thumb/Purple118/v4/69/4d/b9/694db90d-0b7b-98a9-f87f-fc980ce0144b/source/256x256bb.jpg">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
